body {
  background: #f7f9fc;
}

.white-box {
  background-color: white;
  padding: 20px;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 2px 1px #eee;
}

.white-box h3, p {
  margin-bottom: 5px;
}

i {
  color: #6fbaf8 ;
}

.right-box {
  padding: 10px 40px;
  border-left: 1px solid lightgrey;
}